PORT=8080
DB_TYPE= // Base de datos a utilizar, en este caso postgres
DB_HOST= // Host donde esta levantado el servidor, en local: localhost
DB_PORT= // Host de la base de datos, en local : 5432 por defecto
DB_USER= // Usuario que te da postgres al instalar, por defecto postgres
DB_PASS= // Contraseña que te da postgres al instalar, por eso se debe guardar 
DB_NAME= // Nombre de la base de datos, debes crear la bd localmente, en deploy, esta por verse